---
layout: articleFramework.njk
eleventyComputed:
   title: '{{ h1 }} - Franco Scarpa'
h1: "I Became A Professional Developer"
tags: articles
date: "2020-06-28"
description: "January 7, 2020, was a significant date for me as I started my first experience as a professional developer. Specifically, I began an internship as a C# and a cloud developer."
---
<p class="underMetadata">January 7, 2020, was a significant date for me as I started my first experience as a professional developer. Specifically, I began an internship as a <strong>C#</strong> and a <strong>cloud</strong> developer. June 12, 2020, was an ever more relevant date for my career. The same company was satisfied with me, and they made me sign for an apprenticeship. It was time to leave my temporarily-paused, old job, and devote myself entirely to what I genuinely love: coding.</p>

<p>During this experience, I had hard times in the beginning. I have a Bachelor’s Degree in Computer Science, but I had never used C# before. Object-oriented programming (C#’s paradigm) was something I had to deal with only during the Java class when I was at University. What I had learned the most during those years were the C programming language and the imperative paradigm.</p>

<p>Moreover, not only I had to study C#: I had to learn what “cloud” is from Microsoft’s point of view. Azure is the company’s answer to the cloud computing world, an <i>overwhelming</i> but operational and robust ecosystem.</p>

<h2>What This Experience Means To Me</h2>

<p>I’ve liked technology since I was a kid. I’ve always been known to be one of those guys good with computers. Among my family members, friends, and old colleagues, I’ve always been “the technician.” You quickly recognize that kind of guy. He’s the one who other people ask for help for fixing their printer or smartphone or computer or TV. Until my second year of high school, I wasn’t sure about my future. The only thing related to Computer Science during those years was the Pascal programing language they taught us. To be honest, I didn’t like it: I was <i>awful</i> at it, mostly because it was something I wasn’t really attracted to.</p>

<p>However, as time went on, I liked Computer Science, more and more, until I chose the Information Engineering course at University. But, after the first unproductive year, I switched to the Computer Science course. Coding was what I loved and what I wanted to do for a living. It was my biggest passion—that kind of captivating appetite that makes you study the matter even during your spare time.</p>

<p>You can definitely understand what this job means to me: my journey to become a professional developer has unquestionably ripened. It means all those years spent studying, struggling, and sacrificing money and time have been well paid.</p>

<h2>Things I’ve Learned So Far</h2>

<p>Since January, I’ve learned so much both from my colleagues and studying alone. I’m inclined to spend my free time deepen my knowledge of what I care about. Then, if we talk about work and professional career, I can spend a tremendous amount of hours on it. So far, I’ve worked with:</p>

<ul>
   <li>Windows desktop applications built with WPF</li>
   <li>Web APIs</li>
   <li>Serverless functions developed with Azure Functions</li>
   <li>Windows Services</li>
   <li>Unit tests and integration tests</li>
   <li>Continuous Integration with Azure Pipelines</li>
   <li>Visual Studio, Microsoft’s flagship IDE</li>
   <li>Version control systems using TFVC</li>
   <li>UI and UX development</li>
   <li>Communication between applications realized through Azure Service Bus</li>
   <li>What working in a team means.</li>
</ul>

<p>The life of a programmer is an endless path marked by a continuous learning and training process. Today’s technologies and frameworks will be outdated tomorrow. I just started my career as a professional developer, so I still have to learn. And learn. And learn.</p>

<p>I’m astonishingly happy about that.</p>

<h2>My Plans For The Future</h2>

<p>I want to learn and become a really skilled developer. I like C#, OOP, and Azure: these are the topics I want to deepen my knowledge about. Not only because they’re, of course, what I use at work. I like them because:</p>

<ul>
   <li>C# is both a powerful and expressive language. The Windows ecosystem is focused on C#, so it’s an excellent opportunity to make it the most robust instrument in my toolbox.</li>
   <li>OOP is a programming paradigm I really admire, and my mentor is teaching me a lot about what thinking with classes and objects means in real-world applications. It lets you manipulate the domain you operate on. It also enables you to take advantage of core principles, such as:</li>
   <ul>
      <li>Abstraction</li>
      <li>Encapsulation</li>
      <li>Inheritance</li>
      <li>Polymorphism.</li>
   </ul>
   <li>The cloud probably represents what business and future of software development will be based on. It’s a unique chance to learn it and master it well.</li>
</ul>

<h2>Choose Your Next Job Carefully</h2>

<p>Before I was a professional developer, I was a sailor. Yes, a sailor who worked for a public transport provider. For several years, I both studied and worked. It was anything but easy. I spent a lot of time and effort to be able to carry on both. I wanted to take a degree, and I wanted to work in the meantime. I succeeded, and that made me feel so proud of myself.</p>

<p>Working for such a big company like my previous one was a meaningful opportunity for me. It was my first experience in the work field. I learned how to work with a lot of different colleagues and how to relate to people. It was a significant experience, but it was time for me to change and to put things to good use. I never gave up on making coding my profession since I knew what I wanted to do for a living. So, January 7, 2020, came.</p>

<p>What my story taught me is something I want to share with you. Choosing your future job is essential. You’ll spend 7-9 hours of almost every day of your life on it. I think this’ sufficient to understand you need to choose something you really love. Work not only causes stress, anxiety, tension, and pressure, but also pride, self-confidence, self-respect, and satisfaction. Why not experience all of these feelings for something you genuinely care about? Don’t waste your time doing something that doesn’t make you think about improving it.</p>

<p>Of course, I know how essential a job is for a living. I’m not saying to throw all away. Many of us simply can’t afford it. People have families to take care of, taxes to pay, loans to bear. But if you were like me or don’t have financial pressures or economic duties, follow my advice: struggle to find a job you love.</p>

<h2>Question What You Like</h2>

<p>You have personal tastes, anyone has. I have, too, and I thought my own affections would have addressed me towards my future job. In particular, shortly after I started coding at University, I fell in love with web development. I loved HTML, CSS, and JavaScript. I admired the Web, the idea behind it, the chances it gives us. I enjoyed surfing among websites and analyzing their layouts, colors, fonts, images, logos, structures, and performances. How beautiful is the idea of having a digital home that you can build from yourself (for free, too!) and making it precisely as you like? I find it marvelous because anyone can then visit you there. Your website is your corner of personal space in the digital world.</p>

<p>To be clear, I still love web development, and I’ll continue to be fascinated by websites and web apps. However, I ended up doing something wholly different from web development. Now I work with desktop applications, serverless functions, APIs, Windows Services, and a language that is entirely different from HTML, CSS, and JavaScript: C#. To be honest, I wasn’t so attracted by the idea of becoming a C# developer. This could make you think I’m in contrast to what I told you about finding a job you like. Well, it’s not, and I explain to you why.</p>

<p>I love coding in all of its forms. Web development was my first love in the field of coding. Anyway, recently I was attracted by the idea of trying something different. I wanted to know, learn, discover, work, experience, and make a personal opinion about other platforms, languages, and technologies. They say traveling is crucial to learn how the world works because it lets you discover new cultures and make experiences. The software development world is the same. Trying and falling, you can understand if something suits you. Web development was my “safe zone of knowledge,” but to become a skilled and aware developer, I needed more. I demanded myself to exit my secure territory and make my hands dirty with something else. I picked the opportunity and became a C# and a cloud developer. I couldn’t be happier with my decision. Question what you like, exit from your comfort zone, explore new development fields, learn something new. It’s the way you could find your next main passion.</p>