---
layout: articleFramework.njk
title: How Grammarly Changed My Life As a Blogger - Franco Scarpa
h1: How Grammarly Changed My Life As a Blogger
tags: articles
date: 2020-11-22
description: Grammarly is a tool that helps non-English people to write better. It’s a valuable investment for those who take their blogging experience seriously.
---
<p class="underMetadata"><a href="https://en.wikipedia.org/wiki/Languages_used_on_the_Internet" target="_blank" rel="noopener noreferrer">English is the language Internet uses to speak</a>. As of November 11, 2020, the estimated percentage of the top ten million websites using English was a tremendous <strong>60.3%</strong>. Russian, the second most used language, settled at a humble 8.6%. As of March 31, 2020, English won the “Internet users by language” contest, too, with an evident <strong>25.9%</strong>. The silver medal went to the Chinese language, with 19.4%. As of June 2020, Wikipedia’s pages were viewed <strong>9,600,000,000</strong> times using the English language, and only 1,400,000,000 times using Japanese, its biggest competitor. <strong>English wins hands-down</strong>.</p>

<p>If you publish stuff on the Internet, the statistics prove that you should choose English as your content language to guarantee the most massive audience possible. That’s why I’ve adopted it for my presence online, even if my native language is a different one.</p>

<h2>Impression Matters</h2>
<p>I find it difficult to rely on text poorly written, both on the <strong>content</strong> and <strong>grammar</strong> side. Of course, typical grammar errors occur. My own website indeed show mistakes. However, I tend to change the source when I find myself reading something with severe and visible lacks. An accurate and reliable resource suggests its author was so focused on its success and usefulness that he checked it more than once. This is why I recommend people experiencing problems with the English language to ask for help. In my case, I relied on a valuable instrument, <a href="https://www.grammarly.com/" target="_blank" rel="noopener noreferrer">Grammarly</a>, a digital writing assistance tool based on artificial intelligence and natural language processing. It helps you write better English, and it comes in various forms, such as an online text editor:</p>

<img src="/imgs/grammarly/apps.jpg" alt="Grammarly plans.">

<p>This article is not meant to be a Grammarly tutorial. I’ve been a Grammarly user for some time now, and I just want to explain how this tool changed my life as a blogger. The only thing I clarify is that <a href="https://www.grammarly.com/plans" target="_blank" rel="noopener noreferrer">Grammarly comes with a free, a premium, and a business license</a>:</p>

<img src="/imgs/grammarly/plans.jpg" alt="Grammarly plans.">

<p>I decided to try the Premium one two years ago, and now I can say I’m not going to go back.</p>

<h2>Set Your Goals</h2>
<p>Before starting writing, Grammarly lets you select your text’s <strong>audience</strong>, <strong>formality</strong>, <strong>domain</strong>, <strong>tone</strong>, and <strong>intent</strong>. These are called “goals,” and they make Grammarly able to suggest the best tips for you and for what you’re going to write. Grammarly will give you tailored writing suggestions based on them. Setting these parameters is good practice, and I always start like that. Spending some seconds on this phase has helped me start thinking more carefully about <strong>what audience I want my articles to be relevant to</strong>. This way, I can plan how knowledgeable my readers need to be to understand the content, and I can choose the right words to use.</p>

<img src="/imgs/grammarly/goals.jpg" alt="Grammarly goals.">

<h2>Correctness Check</h2>
<p>After setting your goals, the thing Grammarly does for you out-of-the-box is a complete check of your text about different arguments. The tool <strong>continually</strong> analyzes what you write and provides many useful tips to fix errors and make the sentences more fluent. The suggestions regard <strong>mistakes</strong>, <strong>improvements</strong>, and <strong>consistency</strong> issues. For example, if you mix the <code>"</code> and <code>”</code> characters, or the <code>'</code> and <code>’</code> ones (for apostrophes or quotation marks), Grammarly detects the discrepancy. This way, you can fix all the wrong occurrences:</p>

<img src="/imgs/grammarly/punctuation.jpg" alt="Grammarly punctuation check.">

<p>Unity is something I pay attention to while reading. It contributes to giving a sense of elegance and authority to the text.</p>

<h2>Synonyms</h2>
<p>Grammarly implements a feature that suggests an appropriate replacement <strong>when you use the same word too often</strong>. This not only makes the text more professional, authoritative, and creative, but it also helps you in making <strong>your vocabulary</strong> broader and more prosperous. This is probably the feature I love the most, and Grammarly implements it in such a simple way. You just double click over a word, then a popup appears with equivalents arranged by meaning:</p>

<img src="/imgs/grammarly/synonyms_framed (1).jpg" alt="Grammarly synonyms feature.">

<p>Viewing different appropriate words for a context helps you choose the perfect one that suits your needs.</p>

<h2>Not Just Blogging</h2>
<p>Grammarly doesn’t limit to a text editor. The cool thing about this tool is that it integrates everywhere you can write. Do you write a <strong>Facebook</strong> post? Grammarly integrates with it. Do you comment on an article on <strong>DEV</strong>? Grammarly is there, waiting for you. Everywhere there’s a text area for the user to write, Grammarly follows him like a loyal dog:</p>

<img src="/imgs/grammarly/dev_framed (1).jpg" alt="Grammarly on DEV.to.">

<h2>Think To Your Business</h2>
<p>After I tried the free version of Grammarly, I decided I wanted more. What I was looking for was a grammar, fluency, and readability check, and this tool provides all of them. The way I look at Grammarly is like a tool that supervises my content and helps me to make it more <strong>professional</strong>, <strong>accurate</strong>, and <strong>reliable</strong>. These are all fundamental factors when you plan to put serious effort into your blogging experience. I’m a firm believer that professionality is crucial to determine the success of something. <strong>Content is the king, but the presentation is the queen</strong>.</p>

<p>Think of your blog not as a personal diary but rather as <strong>your home on the Web</strong>, a place that identifies you and qualifies you. Think of your presence online not as a fun experience but rather as a <strong>business</strong>. Think of Grammarly not as a passing fancy, but rather as an <strong>investment</strong>. Don’t look at it like something whose goal is just to make your articles look nicer (I wouldn’t encourage you to spend money on something like that). Think of it as something that makes your content more professional. It’s an instrument that can help you establish your presence on the Internet, together with a mass of other great, valuable people. Your website could be the mean by which human resources specialists find you, too. You want to greet them appropriately on a website lacking errors.</p>

<h2>The Impostor Syndrom</h2>
<p>If you’re like me, you could suffer the <a href="https://en.wikipedia.org/wiki/Impostor_syndrome#:~:text=Impostor%20syndrome%20(also%20known%20as,exposed%20as%20a%20%22fraud%22." target="_blank" rel="noopener noreferrer">impostor syndrome</a>. Using a tool like that could have the negative side effect of thinking you’re kind of <strong>cheating</strong>. Well, you’re not. Suppose somebody lives in a house with a beautiful façade. It doesn’t mean the person who lives inside that house knows about the construction, materials, or painting industries. Probably that person paid someone else to do the work. This doesn’t make you think that person is “cheating.” You just consider ad cherish the <strong>effort</strong> that person put into obtaining that specific goal. I’m sure that person only receives congratulations for that lovely façade.</p>

<p>I’m not saying you don’t need to know English. <strong>You have to know it</strong>. I’m just telling you that it’s fair to adopt something that can help you in the process of looking better. Instead, people should congratulate you for the effort you put into trying to get to that result, especially if English is not your native language. The fundamental lesson to learn is that <strong>you’ll find yourself improving your English skills simultaneously</strong>.</p>

<h2>Conclusions</h2>
<p>I highly suggest the use of Grammarly by non-English bloggers. Keep in mind that you can choose between the Free and the Premium plans, but I’m willing to spend $139.95 per year for the pro functionalities this tool provides. I understand this is not an affordable price for everyone; if that’s the case, enjoy the free version, it’s still precious. Think of this instrument as something that makes you a better English writer and helps you develop your business. <strong>Integrate it in your workflow</strong>: start with a draft of the text in your native language, then translate it into English with Grammarly. The tool will follow you like a shadow, ready to give you valuable tips and tricks to make the most out of your idea.</p>