---
layout: articleFramework.njk
title: How I built my personal website - Franco Scarpa
h1: How I Built my Personal Website
tags: articles
date: 2018-11-07
updated: 2019.9.1
description: Franco Scarpa created his personal website from scratch. He himself takes care of it and keeps it updated, both in content and functionality.
---
<p class="underMetadata">I love the web. Not surprisingly, some of the questions that flash in my mind every time I visit a website are:</p>
<ul>
   <li>
      <i>“How was it built?”</i>;</li>
   <li>
      <i>“Which technologies were used?”</i>;</li>
   <li>
      <i>“Which languages were used?”</i>;</li>
   <li>
      <i>“Why did they choose these colours?”</i>;</li>
   <li>
      <i>“How does the structure change when I resize the window?”</i>;</li>
   <li>
      <i>“Which fonts were used?”</i>;</li>
   <li>
      <i>“Does it respect a11y?”</i>.</li>
</ul>

<p>Each time I was about to create my personal site, a certainty remained in my mind: to let people know how it had been created. Now this site is real, and I certainly don't give up on that. You can read about how I built this website from the ground up on the <a href="/about/#about-build">About</a> page.</p>