---
layout: postFramework.njk
title: I Published an Article about using Azure Active Directory with Mobile Applications - Franco Scarpa
h1: I Published an Article about using Azure Active Directory with Mobile Applications
tags: posts
date: 2021-07-02
description: Azure AD is Microsoft Azure’s IAM (Identity and Access Management) service. Use it to entrust to Microsoft the delicate issue of managing users’ credentials.
---
<p>I published an article about <a href="https://www.blog.varprime.com/azure-ad-un-caso-studio-reale/">Azure Active Directory (Azure AD)</a> on the blog of VarPrime. I had to use it for a work project for which I had to implement this service in a mobile Xamarin application. You can benefit from it if you’re going to create something that requires authorization/authentication/identity and access management.</p>