---
layout: postFramework.njk
title: How I Resolved the Anti-Reflective Coating Issue on My MacBook Pro - Franco Scarpa
h1: How I Resolved the Anti-Reflective Coating Issue on My MacBook Pro
tags: posts
date: 2020-11-28
description: Some Apple computers have experienced an issue with the anti-reflective coating. I decided to try a home-made solution to fix it, and it worked.
---
<p class="underMetadata">My early-2015 MacBook Pro has started experiencing some Apple computers' well-known issue about the anti-reflective coating quite some time ago. Apple itself confirmed the problem years ago and decided to let its users enjoy an appropriate treatment. However, my laptop is considered too old, so I had to take him to an Apple repair center and pay a lot of money to fix it. Surfing the Net, I found some users had tried home-made (and risky) solutions, using the most disparate chemical agents we all have in our homes. Since the issue caused an awful experience when using the MacBook with a low level of screen brightness, I decided to try one of these methods. In particular, I used baking soda and water, as suggested in this article, and it worked.</p>

<p>These are photos of the screen before the treatment:</p>

<figure>
   <img src="/imgs/coating/1.jpg" alt="The anti-reflective coating issue on my MacBook Pro.">
   <figcaption>The anti-reflective coating issue on my MacBook Pro</figcaption>
</figure>

<figure>
   <img src="/imgs/coating/7.jpg" alt="The anti-reflective coating issue on my MacBook Pro.">
   <figcaption>The anti-reflective coating issue on my MacBook Pro</figcaption>
</figure>

<figure>
   <img src="/imgs/coating/8.jpg" alt="The anti-reflective coating issue on my MacBook Pro.">
   <figcaption>The anti-reflective coating issue on my MacBook Pro</figcaption>
</figure>

<figure>
   <img src="/imgs/coating/9.jpg" alt="The anti-reflective coating issue on my MacBook Pro.">
   <figcaption>The anti-reflective coating issue on my MacBook Pro</figcaption>
</figure>

<p>and these are photos of the screen after the treatment:</p>

<figure>
   <img src="/imgs/coating/3.jpg" alt="The screen after the treatment.">
   <figcaption>The screen after the treatment</figcaption>
</figure>

<figure>
   <img src="/imgs/coating/4.jpg" alt="The screen after the treatment.">
   <figcaption>The screen after the treatment</figcaption>
</figure>

<figure>
   <img src="/imgs/coating/5.jpg" alt="The screen after the treatment.">
   <figcaption>The screen after the treatment</figcaption>
</figure>

<p>If you experience the same problem with your Apple computer and take responsibility for your actions, you could try it. In my case, it was a success.</p>