---
layout: noteFramework.njk
title: I Revived an Old MacBook - Franco Scarpa
h1: I Revived an Old MacBook
tags: notes
date: 2020-09-09
description: I upgraded an old MacBook with an SSD and six more GB of RAM; now, it’s ready for a new life.
---
<p class="underMetadata">My sister’s boyfriend gave her his old MacBook “Core 2 Duo”, a mid-2010 computer. It features:</p>
<ul>
   <li>A 13-inch wide monitor with a resolution of 1280x800</li>
   <li>A 2.4 GHz Intel “Core 2 Duo” processor</li>
   <li>A 1066 MHz FSB</li>
   <li>An NVIDIA GeForce 320M graphics processor with 256 MB of SDRAM</li>
</ul>
<p>Until yesterday, It also featured:</p>
<ul>
   <li>2 GB of 1066 MHz DDR3 SDRAM</li>
   <li>A 250 GB Serial ATA HDD</li>
</ul>
<p>It was an antiquated machine. When I turned it on, I needed to wait for several minutes before seeing the desktop, and many others to interact with it. The processor was still able to do its job. The issue regarded the ten years old, too slower hard disk drive. SSDs are a must-have for a performant computer. An increase in RAM can help, also. I bought a 240 GB Kingston A400 and 8 GB of 1066 MHz DDR3 of Corsair RAM for these reasons. After replacing the hardware components, I installed macOS High Sierra on the SSD. The process was satisfying, and the result was excellent. In less than a minute, the MacBook is now ready to be used. Below are some photos I took during the process. These are photos about the operation:</p>

<ul>
   <li>
      <a href="/imgs/macbook/1.jpg">Photo No. 1</a>
   </li>
   <li>
      <a href="/imgs/macbook/2.jpg">Photo No. 2</a>
   </li>
   <li>
      <a href="/imgs/macbook/3.jpg">Photo No. 3</a>
   </li>
   <li>
      <a href="/imgs/macbook/4.jpg">Photo No. 4</a>
   </li>
   <li>
      <a href="/imgs/macbook/5.jpg">Photo No. 5</a>
   </li>
   <li>
      <a href="/imgs/macbook/6.jpg">Photo No. 6</a>
   </li>
</ul>