---
layout: noteFramework.njk
title: My Life Has Changed - Franco Scarpa
h1: My Life Has Changed
tags: notes
date: 2020-10-15
description: I skipped town due to COVID-19. This’s a great opportuniy to change my life.
---
<p class="underMetadata">Due to COVID-19, my company had to change its headquarters. This circumstance forced me to move away from my city, where I lived with my family, but it wasn’t a sentence; instead, it was an excellent opportunity. I have thought about skipping town for two years, but I never rolled up my sleeves seriously. Three months ago, they informed me about the change; that was the chance to search for a new house in a different city, and so I did. This shift is both radical and exciting, and I want to make the most out of this experience.</p>