---
layout: noteFramework.njk
title: Own Your Content - Franco Scarpa
h1: Own Your Content
tags: notes
date: 2020-07-31
description: Franco Scarpa created his personal website from scratch. He himself takes care of it and keeps it updated, both in content and functionality.
---
<p class="underMetadata">Inspired by <a href="https://stallman.org/">Richard Stallman’s website</a>, I resolved to record things about my personal and private life on this website. In the beginning, I was a bit skeptical, but I realized I’m not so when speaking about social networks. This website is my place on the Web, and what I write should belong to it, and therefore to me. Currently, I’m not in the position of leaving <a href="https://indieweb.org/silo">silos</a>, but I plan to make this website the default container of my content. If you have a personal website, I encourage you to do the same.</p>