---
layout: noteFramework.njk
title: Bonds Are Crucial - Franco Scarpa
h1: Bonds Are Crucial
tags: notes
date: 2020-07-31
description: Studying and practicing aren’t the only things that matter in a developers’ professional career.
---
<p class="underMetadata">Studying and practicing aren’t the only things that matter in a developers’ professional career. Relationships with colleagues are crucial, too. Talking, joking, and discussing with them allows you to know not only them but also your workplace honestly.</p>