---
layout: noteFramework.njk
title: Three Days of Xamarin - Franco Scarpa
h1: Three Days of Xamarin
tags: notes
date: 2020-09-23
description: My team organized a three-day course on mobile application development with Xamarin, with a Microsoft MVP.
---
<p class="underMetadata">My team organized a three-day course on mobile application development with <a href="https://dotnet.microsoft.com/apps/xamarin">Xamarin</a>. The protagonist of this course was <a href="https://mvp.microsoft.com/en-us/PublicProfile/5000542?fullName=Dan%20Ciprian%20Ardelean">Dan Ciprian Ardelean</a>, a Microsoft MVP. It was an exciting and informative course, and Dan is an excellent teacher, very competent. I had never used Xamarin before, so it was a perfect opportunity to enter this world.</p>