---
layout: PostLayout.njk
h1: "My Databases Notes"
description: "Franco Scarpa’s notes about databases."
created: 2023-10-09
updated: 2023-10-09
order: 4
---
<ul>
    <li><a href="https://stackoverflow.com/a/27361062/3918095">Find a string by searching all tables in SQL Server</a>.</li>
</ul>