---
layout: PostLayout.njk
h1: "Eleventy Notes"
description: "Franco Scarpa’s notes about the Eleventy static site generator (SSG)."
created: 2023-10-08
updated: 2023-10-08
order: 3
---
<ul>
    <li>Use a lowercase <code>index.html</code> file as start page, don’t use <code>Index.html</code>.</li>
    <li>Layouts go in the <code>_includes</code> folder; Eleventy looks for them from inside there.</li>
    <li>By default, Eleventy sorts collections by their creation date.</li>
    <li>Make use of the “data cascade” (for example, for posts, put all the common front matter’s data in their common layout’s front matter).</li>
    <li>I use custom fields for “created” and “updated” in front matter because I don’t want to be tied to other things, such as with <code>git Last Modified</code> and <code>git Created</code> that impliesn the use of Git.</li>
    <li>To clone a project from GitHub: <code>git clone</code>, then <code>npm install</code>.</li>
</ul>