---
layout: postFramework.njk
title: Trip to Riccione - Franco Scarpa
h1: Trip to Riccione
tags: posts
date: 2020-08-10
description: To let off steam from the yoke due to Covid-19, I spent three days in Riccione with a friend, from 8 to 10 August 2020. It was a holiday of relaxation and carefreeness.
---
<p class="underMetadata">To let off steam from the yoke due to Covid-19, I spent three days in <a href="https://www.google.com/maps/place/47838+Riccione,+Province+of+Rimini/@43.9993715,12.60982,13z/data=!3m1!4b1!4m5!3m4!1s0x132cdd6063328253:0x4079b0bfcbc7390!8m2!3d43.9921085!4d12.6503292">Riccione</a> with a friend, from 8 to 10 August 2020. It was a holiday of relaxation and carefreeness, and we spent most of the time on the beach. We had hilarious times. It was a pleasant trip, although I got notable, painful sunburns. These are photos about the trip:</p>

<ul>
   <li>
      <a href="/Images/riccione/1.jpg">Photo No. 1</a>
   </li>
   <li>
      <a href="/Images/riccione/2.jpg">Photo No. 2</a>
   </li>
   <li>
      <a href="/Images/riccione/3.jpeg">Photo No. 3</a>
   </li>
   <li>
      <a href="/Images/riccione/4.jpg">Photo No. 4</a>
   </li>
   <li>
      <a href="/Images/riccione/5.jpg">Photo No. 5</a>
   </li>
   <li>
      <a href="/Images/riccione/6.jpg">Photo No. 6</a>
   </li>
   <li>
      <a href="/Images/riccione/7.jpeg">Photo No. 7</a>
   </li>
   <li>
      <a href="/Images/riccione/8.jpg">Photo No. 8</a>
   </li>
</ul>