---
layout: PostLayout.njk
title: "Better images - Franco Scarpa"
description: "Franco Scarpa’s welcomes you to his website."
h1: "My website!"
created: 2023-10-08
updated: 2023-10-08
---
<p>Welcome to Franco Scarpa’s website!</p>