---
layout: framework.njk
---
<p>
   <span>{{ date.getFullYear() + "." + (date.getMonth() + 1) + "." + date.getDate() }}</span>
   {% if updated %} → <span>{{updated}}</span> {% endif %}
</p>
{{ content | safe }}

{% include "contact.html" %}