---
layout: GlobalFramework.njk
---
<div>
   <p>Publication: {{ page.date.toLocaleDateString("en-EN") }}</p>
   {% if updated %}<p>Last update: {{ updated }}</p>{% endif %}
</div>
{{ content | safe }}