<!-- <script>
    var increaseFontSizeButton = document.getElementById("a+Button");
    var decreaseFontSizeButton = document.getElementById("a-Button");
    var resetFontSizeButton = document.getElementById("resetButton");
    var html = document.getElementsByTagName('html')[0];
    var defaultFontSize = Number(window.getComputedStyle(document.body).getPropertyValue('font-size').match(/\d+/)[0]);

    var scrollButton = document.getElementById("scrollButton");

    increaseFontSizeButton.addEventListener("click", function() {
        if (html.style.fontSize === "") {
            html.style.fontSize = (defaultFontSize + 1) + "px";
        }
        else {
            html.style.fontSize = (parseFloat(html.style.fontSize.substr(0, html.style.fontSize.indexOf("px"))) + 1) + "px";
        }
    });

    decreaseFontSizeButton.addEventListener("click", function() {
        if (html.style.fontSize === "") {
            html.style.fontSize = (defaultFontSize - 1) + "px";
        }
        else {
            html.style.fontSize = (parseFloat(html.style.fontSize.substr(0, html.style.fontSize.indexOf("px"))) - 1) + "px";
        }
    });

    resetFontSizeButton.addEventListener("click", function() {
        html.style.fontSize = defaultFontSize + "px";
    });

    scrollButton.addEventListener("click", function() {
        window.scrollTo(0, 0);
    });
 </script> -->