<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{ title }}</title>
      <meta name="description" content="{{ description }}">
      <link rel="manifest" href="/manifest.json">
      <link rel="stylesheet" href="/style.css">
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
      <link rel="manifest" href="/site.webmanifest">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff">
   </head>
   <body>
      <div>
         <nav>
            {%- for mainPage in collections.mainMenuPages -%}<a href={{ mainPage.url }}>{{ mainPage.data.nameDisplayed }}</a>{%- endfor -%}
         </nav>
         <header>
            <h1>{{ h1 }}</h1>
            {% if h2 %} <h2>{{ h2 }}</h2> {% endif %}
         </header>
      </div>
      <main>
         {{ content | safe }}
      </main>
      <!-- <div id="fontSizeButtons">
         <button id="a+Button">A+</button>
         <button id="a-Button">A-</button>
         <button id="resetButton">Reset</button>
      </div>
      <button id="scrollButton">Scroll to top</button> -->
      <footer>
         <div>
            <p>What is written on this website (invented, designed, built and maintained by <a href="/">Franco Scarpa</a>, developed with <a href="https://www.11ty.dev/">Eleventy</a>, hosted on <a href="https://www.netlify.com/">Netlify</a> and versioned on <a href="https://github.com/francoscarpa/francoscarpa.com">GitHub</a>) reflects <a href="/">Franco Scarpa</a>’s (its owner) personal views. For questions, ideas or suggestions, let’s <a href="/contact/">get in touch</a>. Read the <a href="/articles/website#privacyPolicy">privacy policy</a>.</p>
         </div>
      </footer>
      <!-- {% include "script.html" %} -->
      <!-- {% include "fontButton.html" %} -->
   </body>
</html>