<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{ title }}</title>
      <meta name="description" content="{{ description }}">
      <link rel="stylesheet" href="/style.css">
      <link rel="icon" type="image/svg+xml" href="/favicon.svg">
      <link rel="icon" type="image/png" href="/favicon.png">
   </head>
   <body>
      <div>
         <nav>
            {%- for mainPage in collections.mainMenuPages -%}<a href={{ mainPage.url }}>{{ mainPage.data.nameDisplayed }}</a>{%- endfor -%}
         </nav>
         <header>
            <h1>{{ h1 }}</h1>
            {% if h2 %} <h2>{{ h2 }}</h2> {% endif %}
         </header>
      </div>
      <main>
         {{ content | safe }}
      </main>
      <footer>
         <div>
            <p>What is written on this website (invented, designed, built and maintained by <a href="/">Franco Scarpa</a>, developed with <a href="https://www.11ty.dev/">Eleventy</a>, hosted on <a href="https://www.netlify.com/">Netlify</a> and versioned on <a href="https://github.com/francoscarpa/francoscarpa.com">GitHub</a>) reflects <a href="/">Franco Scarpa</a>’s (its owner) personal views. For questions, ideas or suggestions, let’s <a href="/contact/">get in touch</a>. Read the <a href="/articles/website#privacyPolicy">privacy policy</a>.</p>
         </div>
      </footer>
   </body>
</html>