<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{ title }}</title>
      <meta name="description" content="{{ description }}">
      <link rel="icon" type="image/svg+xml" href="/favicon.svg">
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
      <link rel="manifest" href="/site.webmanifest">
      <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff">
      <link rel="stylesheet" href="/style.css">
   </head>
   <body>
      <div id="HeroDiv">
         <div>
            <a href="/"><img id="logo" src="/Images/FrancoScarpa.jpg" alt="Franco Scarpa"></a>
            <nav>
               {%- for mainPage in collections.mainMenuPages -%}
                  <a href={{ mainPage.url }}>{{ mainPage.data.nameDisplayed }}</a>
               {%- endfor -%}
            </nav>
         </div>
         <header>
            <h1>{{ h1 }}</h1>
            {% if h2 %}
            <h2>{{ h2 | safe }}</h2>
            {% endif %}
         </header>
         {% if (nameDisplayed != "Home") and (nameDisplayed != "Contacts") %}
            <p>Scroll down</p>
         {% else %}
            <footer><p>© 2021 Franco Scarpa. All rights reserved</p></footer>
         {% endif %}
      </div>
      {% if (nameDisplayed != "Home") and (nameDisplayed != "Contacts") %}
      <main>{{ content | safe }}</main>
      <footer><p>© 2021 Franco Scarpa. All rights reserved</p></footer>
      {% endif %}
   </body>
</html>