<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{{ title }}</title>
   <meta name="description" content="{{ description }}">
   <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
   <link rel="manifest" href="/site.webmanifest">
   <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ce1212">
   <meta name="msapplication-TileColor" content="#ce1212">
   <meta name="theme-color" content="#ce1212">
   <link rel="stylesheet" href="/Style/Style.css">
</head>

<body>
   <nav>
      <a href="/">
         <p>Home</p>
      </a>
      <a href="/Blog/">
         <p>Blog</p>
      </a>
      <a href="/About/">
         <p>Mi presento</p>
      </a>
      <a href="/Contacts/">
         <p>Contatti</p>
      </a>
   </nav>
   <header>
      <h1>{{ h1 }}</h1>
      {% if h2 %}
      <h2>{{ h2 | safe }}</h2>
      {% endif %}
   </header>
   <main>{{ content | safe }}</main>
   <footer>
      <p>Franco Scarpa © Copyright 2018-2023</p>
   </footer>
</body>

</html>