---
layout: framework.njk
---
<header>
   <h1>{{ h1 }}</h1>
</header>

<p class="metadata underH1">
   <a href="/notes/">Notes</a> » {{ h1 }}</p>
<p class="metadata">Published on {{ published }}</p>
{% if updated %}
   <p>Updated on {{updated}}</p>
{% endif %}
{{ content | safe }}

{% include "contact.html" %}