---
layout: framework.njk
title: About - Franco Scarpa
tags: mainMenuPage
order: 5
nameDisplayed: About
description: Who is Franco Scarpa? You can find out by reading this page, which contains all the information about him.
photo: "/imgs/about.jpg"
h1: About
h2: Who I am and how I built this website
---
<p>My name is Franco; I’m a C# (since January, 2020 at <a href="https://www.linkedin.com/company/nebula-cloud/">Nebula</a>) and Web developer. I’m Italian, but I write in English, so mistakes occur. This choice was a matter of compromise: Italian would make the audience much smaller than using a universal language such as English. What matters are the content and the message I convey. Nevertheless, if you find errors, please <a href="/contact/">contact me</a>. The views expressed here are my personal views. I’m interested about:</p>

<ul>
   <li>Software development, specifically about:</li>
   <ul>
      <Li>
         <a href="https://docs.microsoft.com/en-us/dotnet/csharp/">C#</a>
      </Li>
      <li>
         <a href="https://azure.microsoft.com/">Azure</a>
      </li>
      <li>the Web</li>
   </ul>
   <li>Computer networking</li>
   <li>Computer building</li>
   <li>
      <a href="https://www.gnu.org/philosophy/free-sw.en.html">Free</a> software and <a href="https://www.gnu.org/gnu/linux-and-gnu.en.html">
         <span class="uppercase">gnu</span>/Linux</a>
   </li>
   <li>Climate change</li>
   <li>Human rights</li>
</ul>

<p id="colophon">I built this website from scratch using the <a href="https://www.11ty.dev/">Eleventy</a> static site generator. Taking inspiration from <a href="https://deathtobullshit.com/">Death to Bullshit</a> and <a href="https://motherfuckingwebsite.com/">a motherfucking website</a>, you’ll find just what deserves to be on a page. This website is responsive, so it adapts to any device. The font stacks are:</p>

<ul>
   <li>
      <code>Futura, "Franklin Gothic Medium", Verdana, sans-serif</code>
   </li>
   <li>
      <code>"Baskerville", "Book Antiqua", Georgia, serif</code>
   </li>
   <li>
      <code>"Monaco", Consolas, monospace</code>
   </li>
</ul>

<p>The colors you see are <code>#FFBF00</code>, <code>#000000</code> and <code>#B50000</code>. This website is hosted on <a href="https://www.netlify.com/">Netlify</a>, is served through <a href="https://en.wikipedia.org/wiki/HTTPS">
      <span class="uppercase">https</span></a>, and it uses a service worker, so it’s fast and you can navigate even offline. It doesn’t use analytics, tracking scripts, databases, or social scripts; it doesn’t store cookies nor show ads. Your privacy and <span class="uppercase">ux</span> are more important to me than metrics.</p>