---
layout: GlobalFramework.njk
title: About - Franco Scarpa
tags: mainMenuPage
order: 5
nameDisplayed: About
description: Who is Franco Scarpa? You can find out by reading this page, which contains all the information about him.
h1: About
h2: Who I am
---
<p>My name is Franco Scarpa (he/him). I’m a 28 y/o Azure and software developer, working since January 2020 at <a href="https://www.linkedin.com/company/nebula-cloud/">Nebula</a>, the Var Group cloud division dedicated to Microsoft Azure technology platforms. From an amateur point of view, I’m also a Web developer; I mean the old way of making static websites, with pure HTML, CSS and JavaScript code. I’m interested about:</p>
<ul>
   <li>Software development, specifically about:</li>
   <ul>
      <Li>The <a href="https://docs.microsoft.com/en-us/dotnet/csharp/">C#</a> programming language.</Li>
      <li>Cloud development with <a href="https://azure.microsoft.com/">Azure</a>.</li>
      <li>Web development.</li>
   </ul>
   <li>Computer networking.</li>
   <li>Computer building.</li>
   <li><a href="https://www.gnu.org/philosophy/free-sw.en.html">Free</a> software and <a href="https://www.gnu.org/gnu/linux-and-gnu.en.html"><span>GNU</span>/Linux</a>.
   </li>
</ul>
<p>Moreover, I totally care about:</p>
<ul>
   <li>Climate change.</li>
   <li>Human rights.</li>
   <li>Environmental sustainability.</li>
   <li>Self-improvement.</li>
</ul>