---
layout: GlobalFramework.njk
eleventyComputed:
   title: '{{ h1 }} - Franco Scarpa'
description: "Who is Franco Scarpa? You can find out by reading this page, which contains all the information about him."
h1: "Mi presento"
h2: "Ti spiego chi sono"
---
<img src="/images/FrancoScarpa.jpg">

<h3>Introduzione</h3>
<p>Mi chiamo <strong>Franco Scarpa</strong>, ho <strong>{{ GlobalVariables.Age }} anni</strong> e sono uno <strong>sviluppatore Azure e <i>software</i></strong> presso <strong><a href="https://www.venicecom.it/" target="_blank">Venicecom</a></strong>. Lavoro principalmente con <strong>.NET</strong> e <strong>C#</strong>.</p>

<h3>Dati Anagrafici, Contatti e Riferimenti</h3>
<ul>
    <li>Nome e Cognome: <strong>Franco Scarpa</strong></li>
    <li>Genere: <strong>Uomo</strong></li>
    <li>Data di nascita: <strong>13 Novembre 1992</strong> (<strong>{{ GlobalVariables.Age }}</strong> anni)</li>
    <li>Nazionalità: <strong>Italiana</strong></li>
    <li>Posizione attuale: <strong><a href="https://bit.ly/3l0BwH0" target="_blank">Dosson</a></strong></li>
    <li>Indirizzo <i>e-mail</i>: <strong><a href="mailto:scarpafranco92@hotmail.it">scarpafranco92@hotmail.it</a></strong></li>
    <li>Sito Web: <strong><a href="/" target="_blank">francoscarpa.com</a></strong></li>
    <li><i>Blog</i>: <strong><a href="/blog/" target="_blank">francoscarpa.com/blog</a></strong></li>
</ul>

<h3>Obiettivi Professionali</h3>
<p>Intendo acquisire una conoscenza sempre più approfondita dello sviluppo <i>Cloud</i> e dello sviluppo di soluzioni <i>software</i> fondate sulla piattaforma <strong>.NET</strong> e scritte con il linguaggio <strong>C#</strong>. Inoltre:</p>
<ul>
    <li>Obiettivo principe per me è la <strong>costante crescita professionale</strong>.</li>
    <li>Mi interessa lavorare con soluzioni che si <strong>innovano</strong>.</li>
    <li>Lo <i><strong>smart working</strong></i> è, per me, un elemento fondamentale.</li>
</ul>

<h3>Esperienze Lavorative</h3>
<h4>Venicecom</h4>
<ul>
    <li>Ottobre 2022 - Oggi: <strong>Tempo indeterminato</strong></li>
</ul>

<p>La posizione di <strong>sviluppatore <i>software</i></strong> che ricopro mi porta a lavorare con vari applicativi fondati sulla piattaforma di sviluppo <strong>.NET</strong> e scritti nel linguaggio <strong>C#</strong>. Ho acquisito esperienza nella gestione del ciclo di vita delle applicazioni, avendo avuto occasione di implementare interfaccia grafiche, sviluppare le logiche di <i>business</i>, testare, rilasciare e mantenere vari tipi di soluzioni <i>software</i>.</p>

<h4>Nebula</h4>
<ul>
    <li>Giugno 2020 - Settembre 2022: <strong>Apprendista</strong></li>
    <li>Gennaio 2020 - Giugno 2020: <strong>Tirocinante</strong></li>
</ul>

<p>La posizione di <strong>Azure <i>developer</i></strong> che ho ricoperto mi portava a lavorare con vari applicativi fondati sulla piattaforma di sviluppo <strong>.NET</strong> e scritti nel linguaggio <strong>C#</strong>. Ho acquisito esperienza nella gestione del ciclo di vita delle applicazioni, avendo avuto occasione di implementare interfaccia grafiche, sviluppare le logiche di <i>business</i>, testare, rilasciare e mantenere vari tipi di soluzioni <i>software</i>. Poiché esse basano il loro <i>back-end</i> su <strong>Azure</strong>, ho acquisito esperienza nell'integrazione con questo ecosistema <i>Cloud</i>.</p>
    
<h4>Actv S.p.A.</h4>
<ul>
    <li>Ottobre 2018 - Gennaio 2020: <strong>Marinaio</strong></li>
    <li>Giugno 2014 - Settembre 2018: <strong>Apprendista Marinaio</strong> (stagionale)</li>
</ul>

<p>Iniziato con la qualifica di “Allievo Marinaio” e terminato con quella di “Marinaio”, operavo a bordo dei mezzi di trasporto pubblico acqueo della rete di navigazione di <a href="https://actv.avmspa.it/it" target="_blank">Actv S.p.A.</a>.</p>
</details>

<h3>Educazione</h3>
<p>Ho conseguito la <strong>laurea triennale</strong> in <a href="https://www.unive.it/pag/3/" target="_blank">Informatica</a> presso l'<strong>Università Ca' Foscari di Venezia</strong>.</p>

<h3>Abilità Linguistiche</h3>
<p>Possiedo una discreta padronanza della <strong>lingua inglese</strong>, che mi permette di sostenere conversazioni (sia scritte che a voce) senza particolari difficoltà.</p>

<h3>Pubblicazioni</h3>
<p>Il <a href="https://www.blog.varprime.com/author/06AppInfra/" target="_blank">mio profilo sul <i>blog</i> di Var Prime</a> elenca gli articoli da me pubblicati come <i>blogger</i> sul loro sito Web. Alla sezione <a href="/blog/" target="_blank"><i>Blog</i></a> di questo sito, invece, sono presenti i miei articoli personali. È infine disponibile la mia <a href="/Documents/Thesis.pdf" target="_blank">tesi di laurea</a>.</p>

<h3>Progetti</h3>
<p>Ho ideato, progettato, sviluppato e mantengo <a href="/" target="_blank">francoscarpa.com</a>, dove ti trovi ora. Come indicato in questo <a href="https://www.linkedin.com/posts/leonardo-scarpa-76ba04204_website-portfolio-activity-6899672416021532672-9-hu?utm_source=linkedin_share&utm_medium=member_desktop_web" target="_blank"><i>post</i></a> su LinkedIn, ho fornito assistenza durante la creazione di <a href="https://leonardoscarpa.netlify.app/" target="_blank">leonardoscarpa.netlify.app</a>.</p>