---
layout: RootLayout.njk
title: "About - Franco Scarpa"
description: "About page of Franco Scarpa’s website."
h1: "About"
tags: MainNavPages
order: 3
---

<p>He/him.</p>

{% image "source/Images/FrancoScarpa.jpg", "Franco Scarpa", "(min-width: 45rem) 50vw, 100vw" %}