---
layout: GlobalFramework.njk
title: "Blog - Franco Scarpa"
tags: mainMenuPage
order: 2
nameDisplayed: "Blog"
description: "Articles about software development and more"
h1: "Blog"
h2: "Articles about software development and more"
---
<ul class="mainList">
   {%- for post in collections.articles | reverse -%}
   <li>
      <div class="Metadata">
         <p>Publication: {{ post.date.toLocaleDateString("en-EN") }}</p>
         {% if post.data.updated %}<p>Last update: {{ post.data.updated }}</p>{% endif %}
      </div> 
      <p class="listsLinks">
         <a href="{{ post.url }}">{{ post.data.h1 }}</a>
      </p>
   </li>
   {%- endfor -%}
</ul>
