---
layout: RootLayout.njk
title: "Contacts - Franco Scarpa"
description: "Contacts page of Franco Scarpa’s website."
h1: "Contacts"
tags: MainNavPages
order: 4
---
<p>Sending me an e-mail at <a href="mailto:someone@example.com" target="_blank">scarpafranco92@hotmail.it</a> is the best way to get in touch with me. Otherwise, you can reach me on <a href="https://www.linkedin.com/in/francoscarpa/" target="_blank">LinkedIn</a> and <a href="https://github.com/francoscarpa" target="_blank">GitHub</a>.</p>