---
layout: framework.njk
title: Contact - Franco Scarpa
nameDisplayed: Contact
tags: mainMenuPage
order: 6
description: Here you can find all the ways in which you can contact Franco Scarpa, from his email to his social profiles.
photo: "/imgs/contact.jpg"
---
<header>
   <h1>Contact</h1>
   <h2>I prefer <a href="mailto:scarpafranco92@hotmail.it">e-mails</a>, but you can also leave me a message on <a href="https://www.linkedin.com/in/francoscarpa/">Linkedin</a>, <a href="https://twitter.com/pinecode92">Twitter</a>, and <a href="https://dev.to/francoscarpa">Dev.to</a>
   </h2>
</header>