---
layout: GlobalFramework.njk
title: Contatti - Franco Scarpa
nameDisplayed: Contatti
tags: mainMenuPage
order: 7
description: Here you can find all the ways in which you can contact Franco Scarpa, from his email to his social profiles.
h1: "Contatti"
h2: "Inviami una <a href='mailto:scarpafranco92@hotmail.it'>e-mail</a> o un messaggio su <a href='https://www.linkedin.com/in/francoscarpa/' target='_blank'>LinkedIn</a>"
---