---
layout: framework.njk
title: Contact - Franco Scarpa
nameDisplayed: Contact
tags: mainMenuPage
order: 6
description: Here you can find all the ways in which you can contact Franco Scarpa, from his email to his social profiles.
h1: "Contact"
h2: "Let’s get in touch!"
---
<h3>For just anything, you can reach me with an <a href="mailto:scarpafranco92@hotmail.it">e-mail</a> or a message on <a href="https://www.linkedin.com/in/francoscarpa/">Linkedin</a>, <a href="https://twitter.com/pinecode92">Twitter</a>, or <a href="https://dev.to/francoscarpa">Dev.to</a></h3>