---
layout: GlobalFramework.njk
title: Contacts - Franco Scarpa
nameDisplayed: Contacts
tags: mainMenuPage
order: 7
description: Here you can find all the ways in which you can contact Franco Scarpa, from his email to his social profiles.
h1: "Contacts"
h2: "Let’s Get in Touch!"
---
<h3>For just Anything, You can Reach Me with an <a href="mailto:scarpafranco92@hotmail.it">E-mail</a> or a Message on <a href="https://www.linkedin.com/in/francoscarpa/">LinkedIn</a></h3>