---
layout: GlobalFramework.njk
title: "Franco Scarpa - Sviluppatore Azure, .NET e C# presso Venicecom"
description: "Piacere! Mi chiamo Franco Scarpa e sono uno sviluppatore software che lavora con Azure, .NET e C# presso Venicecom. Questo è il mio sito Web, benvenuti!"
h1: "Home"
h2: "Mi chiamo Franco Scarpa e sono uno sviluppatore <i>software</i> che lavora con .NET e C# presso <a href='https://www.venicecom.it/' target='_blank'>Venicecom</a>"
---
