---
layout: framework.njk
title: Franco Scarpa | C# and Web developer
tags: mainMenuPage
order: 1
nameDisplayed: Home
description: Franco Scarpa is a C# developer at Nebula and a Web developer.
photo: "/imgs/svg.svg"
---
<header>
   <h1>Nice to meet you!</h1>
   <h2>I’m Franco, an Azure, software and sometimes Web developer (when I write code for this website), working at <a href="https://www.linkedin.com/company/nebula-cloud/">Nebula</a>. This is my <a href="https://jamstack.org/">JAMStack</a> home on the Web. Welcome!</h2>
</header>