---
layout: GlobalFramework.njk
title: "Franco Scarpa - Sviluppatore Azure, .NET e C# in Nebula"
description: "Piacere! Mi chiamo Franco Scarpa e sono uno sviluppatore software che lavora con Azure, .NET e C# in Nebula. Questo è il mio sito Web, benvenuti!"
h1: "Home"
h2: "Mi chiamo Franco Scarpa e sono uno sviluppatore <i>software</i> che lavora con Azure, .NET e C# in <a href='https://www.linkedin.com/company/nebula-cloud/'' target='_blank'>Nebula</a>"
---
