---
layout: framework.njk
title: Links - Franco Scarpa
tags: mainMenuPage
order: 4
nameDisplayed: Links
description: Links to resources that Franco Scarpa considers interesting and that can be stimulating for the reader.
h1: Links
h2: Things you might find interesting
---
<p class="metadata">Foundation</p>
<p class="link">
   <a href="https://www.fsf.org/">Free Software Foundation</a>
</p>

<p class="metadata">Article</p>
<p class="link">
   <a href="https://vanschneider.com/down-with-contact-forms">Down with contact forms</a>
</p>

<p class="metadata">Web book</p>
<p class="link">
   <a href="https://resilientwebdesign.com/">Resilient Web Design</a>
</p>

<p class="metadata">Organization</p>
<p class="link">
   <a href="https://storyofstuff.org/">The Story of Stuff Project</a>
</p>

<p class="metadata">Article</p>
<p class="link">
   <a href="https://bit.ly/2AOHMLc">How Improving Website Performance Can Help Save The Planet</a>
</p>