---
layout: framework.njk
title: Notes - Franco Scarpa
tags: mainMenuPage
order: 3
nameDisplayed: Notes
description: Brief, personal posts about topics of my interest or just something I want to share with you.
---
<header>
   <h1>Notes</h1>
   <h2>Brief, personal posts</h2>
</header>

{%- for note in collections.notes | reverse -%}
   <p class="metadata">
      <span>Published on</span>{{note.date.getFullYear() + "." + (note.date.getMonth() + 1) + "." + note.date.getDate()}}</p>
   {% if note.date.updated %}
      <p class="metadata">
         <span>Updated on</span>{{note.data.updated}}</p>
   {% endif %}
   <p class="link">
      <a href="{{ note.url }}">{{ note.data.h1 }}</a>
   </p>
{%- endfor -%}