---
layout: framework.njk
title: Posts - Franco Scarpa
tags: mainMenuPage
order: 3
nameDisplayed: Posts
description: Brief, personal thoughts about topics of my interest or just something I want to share with you.
h1: Posts
h2: Brief, Personal Thoughts
---
<ul class="mainList">
   {%- for post in collections.posts | reverse -%}
   <li>
      <p class="metadata">
         <span>{{post.date.getFullYear() + "." + (post.date.getMonth() + 1) + "." + post.date.getDate()}}</span>
         {% if note.date.updated %} ➞ <span>{{post.data.updated}}</span>
         {% endif %}
      </p>
      <p class="listsLinks">
         <a href="{{ post.url }}">{{ post.data.h1 }}</a>
      </p>
   </li>
   {%- endfor -%}
</ul>