---
layout: "GlobalFramework.njk"
title: "Resources - Franco Scarpa"
tags: "mainMenuPage"
order: "4"
nameDisplayed: "Resources"
description: "Resources to resources that Franco Scarpa considers interesting and that can be stimulating for the reader"
h1: "Resources"
h2: "Things I write down that you might find interesting"
---
<ul class="mainList">
   <li>
      <p class="metadata">Foundation</p>
      <p class="listsLinks">
         <a href="https://greensoftware.foundation/" target="_blank">Green Software Foundation</a>
      </p>
   </li>
   <li>
      <p class="metadata">Blog</p>
      <p class="listsLinks">
         <a href="https://stackoverflow.blog/" target="_blank">The Overflow</a>
      </p>
   </li>
   <li>
      <p class="metadata">Guide</p>
      <p class="listsLinks">
         <a href="https://rphunt.github.io/eleventy-walkthrough/" target="_blank">Eleventy Walkthrough</a>
      </p>
   </li>
   <li>
      <p class="metadata">Foundation</p>
      <p class="listsLinks">
         <a href="https://www.fsf.org/" target="_blank">Free Software Foundation</a>
      </p>
   </li>
   <li>
      <p class="metadata">Article</p>
      <p class="listsLinks">
         <a href="https://vanschneider.com/down-with-contact-forms" target="_blank">Down With Contact Forms</a>
      </p>      
   </li>
   <li>
      <p class="metadata">Web book</p>
      <p class="listsLinks">
         <a href="https://resilientwebdesign.com/" target="_blank">Resilient Web Design</a>
      </p>
   </li>
   <li>
      <p class="metadata">Organization</p>
      <p class="listsLinks">
         <a href="https://storyofstuff.org/" target="_blank">The Story of Stuff Project</a>
      </p>
   </li>
   <li>
      <p class="metadata">Article</p>
      <p class="listsLinks">
         <a href="https://bit.ly/2AOHMLc" target="_blank">How Improving Website Performance Can Help Save The Planet</a>
      </p>
   </li>
</ul>