* {
  box-sizing: border-box;
  font-weight: 170;
}

:root {
  /* Fonts */
  --SANSSERIF: 'Public Sans', sans-serif;
  --SERIF: 'Public Sans', sans-serif;
  --MONOSPACE: "Monaco", Consolas, monospace;
  /* Colors */
  --RED: #D72323;
  --WHITE: #F5EDED;
  --BLACK: #000000;
  --GREY: #3E3636;
  /* Scales, "Minor Third" + "Augmented Fourth" (https://type-scale.com/, first two ratios ignored because difficult to manage) */
  --SCALE1: calc(1.728rem + 2.827vw);
  --SCALE2: calc(1.266rem + 1.999vw);
  --SCALE3: calc(1.125rem + 1.414vw);
  --SCALE4: calc(1rem + 1vw);
  --SCALE5: calc(0.889rem + 0.707vw);
  --SCALE6: calc(0.79rem + 0.5vw);
  /* Paragraphs */
  --SCALE7: calc(0.702rem + 0.354vw);
}

html, body, #HeroDiv, #HeroDiv > div {
  height: 100%;
}

html {
  font-size: 100%;
}

body {
  margin: 0 auto;
  font-family: var(--SERIF);
  background: var(--WHITE);
  overflow-y: scroll;
}

#HeroDiv {
  background-color: var(--GREY);
}

#HeroDiv > div {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  margin: auto;
  /* background: url("/Images/Hero.jpg") center / cover no-repeat; */
}
#HeroDiv > div > div {
  display: flex;
  justify-content: space-between;
}
#HeroDiv h1, #HeroDiv h2, #HeroDiv p {
  text-align: center;
  margin: 0;
}

#HeroDiv p {
  color: var(--WHITE);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--SANSSERIF);
  color: var(--RED);
}

img {
  max-width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: 0.2rem solid var(--RED);
}

figcaption {
  display: block;
  text-align: center;
}

.contact {
  margin-top: 6rem;
}

a {
  color: var(--RED);
  text-decoration: none;
}

.link {
  margin-top: 0;
  font-size: 1.3rem;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
}

body {
  line-height: 1.65;
}

p {
  margin-bottom: 1rem;
}

p,
ul,
ol {
  font-size: var(--SCALE6);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  line-height: 1.2;
}

h2 a {
  color: var(--WHITE);
}

h1 {
  margin-top: 0;
  font-size: var(--SCALE1);
}

h2 {
  font-size: var(--SCALE2);
}

h3 {
  font-size: var(--SCALE3);
}

h4 {
  font-size: var(--SCALE4);
}

h5 {
  font-size: var(--SCALE5);
}

header > * {
  margin: 0;
}

.listsLinks {
  font-size: var(--SCALE3);
  margin: 0;
}

.mainList p {
  margin: 0;
  line-height: 1.3;
  text-align: center;
}

.mainList {
  list-style-type: none;
  padding: 0;
}

.mainList li:not(:first-child) {
  margin-top: 3rem;
}

#topBar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: calc(var(--SCALE7) * .8);
  margin-bottom: var(--SCALE7);
}

#topBar > a {
  display: flex;
  align-items: center;
}

#contentContainer {
  padding: calc(var(--SCALE7) * .8) calc(var(--SCALE7) * .8) 0 calc(var(--SCALE7) * .8);
}

nav {
  font-family: var(--SANSSERIF);
  font-size: 0.889rem;
  display: flex;
  justify-content: space-between;
}

nav a {
  margin: 0;
  color: var(--WHITE);
  line-height: 1;
}

main {
  margin-bottom: var(--SCALE1);
  margin-top: var(--SCALE1);
  padding: 0 calc(var(--SCALE1) * 0.3);
}

footer {
  text-align: center;
}

footer p {
  margin: 0;
  font-size: var(--SCALE7);
}

main + footer {
  margin-top: 5rem;
  padding-bottom: 1rem;
}

#ContentDiv {
  max-width: 50rem;
  margin: auto;
}

.Metadata {
  text-align: center;
}

.Metadata p {
  margin: 0;
  font-size: var(--SCALE7);
}
